mixin video(videos)
     a(href=`/videos/${videos.id}`).video-mixin
        div.video-mixin__thumb
        div.video-mixin__data
            span.video-mixin__title=videos.title
            div.video-mixin__meta
                span #{videos.owner.name} / 
                span #{videos.meta.views}회